@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}
header{
    background-size: cover;
    background-position:center;
    height: 30px;
}

.banner-envio
 {
  text-align:center;
  background-color: rgb(159, 249, 118);
  height: 40px;
  }

  .formato .formato2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .formato {
    font-size: 14px;
    font-weight: bold;
  }
  
  .formato2 {
    font-size: 12.5px;
    }

 
.contenedor{
    max-width: 1200px;
    padding: 60px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}

/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
    grid-gap:20px;
    grid-row-gap: 20px;
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    width: 180px;
    margin: 10px;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 10px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 158px;
    height: 240px;
    object-fit: cover;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
}

.precio_items{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contenedor .contenedor-items .item .precio-item{
    /*display: block;*/
    text-align: center;
    font-weight: bold;
    font-size: 1.10rem;
}

.contenedor .contenedor-items .item .precio-item-ant {
    text-decoration: line-through; /* Tachado */
     /*display: block;*/
    text-align: center;
    font-size: 13px;
}

#item-info-sku{
    text-align: center;
    font-size: 9.5px;
    color: darkslateblue;
    margin: 0%;
  }

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}


/* seccion carrito */
.carrito{
    border: 1px solid #666;
    width: 30%;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    /* Estilos para ocultar */
    margin-right: -20%;
    opacity: 0;
}
.carrito .header-carrito{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .contenedor {
      display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
  }

  .infotienda {
    margin: 20px;
  }
  .infotienda h3, #infot, p{
    text-align: center;
    font-size: 12.5px;
    font-family:'Ubuntu', sans-serif;
    padding: 0px;
  }
  
  .infotienda p {
      text-align: justify;
      margin: 1rem;
  }
  
  .footer-column {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
   }

   #titulo {
    display:flex;
    text-transform: uppercase;
    font-size: 13.5px;
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
  }
  
  .opciones .lista{
    list-style: none;
    align-items:normal;
    text-transform:initial;
    }
  
  .opciones li h3 a{
    text-decoration: none;
  }

  .opciones li h3 a span{
    font-size: 12.5px;
    font-family: 'Ubuntu', sans-serif;
  }

  .redes, #redes{
    text-align: right;
    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;
    }
    
    .insta, .faceb, .natura-1, .gotrendier{
      width: 24px;
      height: 24px;
    }
    
    .redes {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 20px;
    }
    
    .derechos {
      letter-spacing: 1.2px;
      text-align: center;
      font-size: 11.5px;
      font-family: 'Ubuntu', sans-serif;
      margin: 20px;
    }